body {
    margin-top: 65px;
    background: #eee;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*panel heading*/
.panel-heading {
    padding: 15px 10px 15px 10px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f6f8;
    border-color: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #a9b1bc !important;
    border-color: #a9b1bc !important;
}

.btn-primary:hover {
    background-color: #969ca5 !important;
}

.profile-content h3 {
    margin: 15px 0 10px 0 !important;
}

.stats {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: table;
}

.stats .statis {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 0px 20px 20px 20px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #E7EAEC;
}

.feed-element {
    padding: 15px 0 15px 0;
}

.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}

.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element .well {
    border: 1px solid #E7EAEC;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}

.img-circle {
    border-radius: 50%;
}

.text-navy {
    color: #1AB394;
}

.feed-element .actions {
    margin-top: 10px;
}

.feed-photo {
    height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #E7EAEC;
}

.btn {
    border-radius: 3px;
}

.btn-danger {
    background-color: #ef5352;
    border-color: #ef5352;
    color: #FFFFFF;
}

.btn {
    border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .feed-photo {
        width: 100%;
        height: 350px !important;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .btn-primary {
        margin: 15px auto;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .feed-photo {
        width: 100%;
        height: 300px !important;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .btn-primary {
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    .feed-photo {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .btn-primary {
        margin: 15px auto;
    }

}
